{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" href="{% static 'accounts/AuthStyle.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>

        <a href="{% url 'register' %}">
            Нет аккаунта? Зарегистрируйтесь!
        </a>
    </div>
</body>
</html>